<%= form_with model: diary, local: true do |f|%>
  <div class="field">
    <%= f.label :titel, "日記のタイトル" %><br />
    <%= f.text_field :titel %>
  </div>

 <div class="field">
    <%= f.label :content, "本文" %><br />
   <%= f.rich_text_area :content %>
</div> 

<%# <div class="field">
    <%= f.label :diary_text, "あとがき"<br />
    <%# <%= f.text_field :diary_text %>
  <%# </div> %> 

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>